h1 {
    text-align: center;
}

#searchIn {
    margin-top: 10px;
}

#searchBtn {
    clear:right;
    float:right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchResult {
    clear:right;
    margin-top: 10px;
}

.searchResult button{
    position:absolute;
    top:0;
    right:0;
    font-size:12px;
}

.partyResult {
    position:relative;
}

.partyResult button {
    position:absolute;
    top:0;
    right:0;
    font-size:12px;
}

.partyResult {
    margin-top: 10px;

}

span {
    word-wrap: break-word;
    font-size: 12px;
    margin-left:10px;
}

.platformIcon {
    max-width:30px;
    margin-bottom: 10px;
}

.avatar {
    margin-right:10px;
    margin-top:-20px;
}

.profileName {
    font-size:18px;
}
