body {
  font-family: 'Press Start 2P', cursive;
  max-width:480px;
  min-width: 375px;
  background-image: url(https://www.adobe.com/content/dam/cc/us/en/creativecloud/design/discover/pixel-art/desktop/pixelart_P3_720x350.jpg.img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  justify-content: center;
}

section {
  margin: 0 auto;
}

.nes-container {
  background-color: white;
}

h1 {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 20px;
}
/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

/* .alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
} */
