.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {

  color: black;

}




