.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {

  color: black;

}

.menu {
  text-align: center;
  max-width: 85%;
  margin: 10px 0px 10px 0px;
}

.menu button {
  width: 220px;
}
